In [71]:
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
from matplotlib import rc
import math
import ast
import re
import seaborn as sns
import squarify 
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, iplot
import cufflinks as cf
from IPython.display import Image
%matplotlib inline
plt.rcParams
plt.rcParams['figure.figsize'] = (5,5)
plt.rcParams['font.size'] = 8
plt.rcParams['figure.dpi'] = 100

In [ ]:
import datetime as dt
from datetime import datetime

In [25]:
def convert_height(string_height):
    splitted = string_height.split(',')
    if splitted[2]=='FI':
        if splitted[1] == '':
            splitted[1] = '0'
        return float(ast.literal_eval(splitted[0]))*30.48 + float(ast.literal_eval(splitted[1]))*2.54
    else:
        return ast.literal_eval(splitted[0])

In [40]:
def convert_weight(string_weight):
    splitted = string_weight.split(' ')
    if len(splitted)==2:
        if splitted[1]=='P':
            return float(ast.literal_eval(splitted[0]))*0.453592
        elif splitted[1]=='K':
            return float(ast.literal_eval(splitted[0]))
        else: 
            return 0
    else:
        return float(ast.literal_eval(splitted[0]))

In [64]:
df = pd.read_csv('../data/raw/Data.csv')

In [75]:
df.head(10)

,POLICY_REF_DUMMY,PROPOSAL_SUBMISSION_DATE,FIRST_UW_DEC,LAST_UW_DEC,ISSUE_DATE,ST_DATE,POL_ST,QRY,PRODUCT_CATEGORY,PROD_TYPE,...,OWNER_OCCUPATION_CLASS,CLASS_ORDER,AGENCY,CHANNEL,SERV_BRANCH_DUMMY,AGENT_CD_DUMMY,PROPOSAL_TO_ISSUE,ISSUE_TO_ST,HEIGHT_CM,WEIGHT_KG
0,POLID_6930,0001-01-01 00:00:00,Issued Policy (UND),OK TO ISSUE,2013-03-19 00:00:00,2014-04-23 00:00:00,SURRENDERED,UL_BASIC,Investment,UL,...,0,0,0,0,SERV_BRANCH_398,0,0 days,0 days,154,52
1,POLID_3215,2011-06-30 00:00:00,Tagged as OK to issue,OK TO ISSUE,2011-06-15 00:00:00,2011-06-08 00:00:00,Inforce,TRAD_BASIC,Retirement,NUL,...,"HOSPITAL, NURSING HOME, CLINIC, ASSYLUM",4,0,0,SERV_BRANCH_452,AGENT_CD_58,15 days,7 days,157,54
2,POLID_7224,0001-01-01 00:00:00,Issued Policy (UND),OK TO ISSUE,2013-06-18 00:00:00,2013-06-17 00:00:00,INFORCE,UL_BASIC,Investment,UL,...,0,0,0,0,SERV_BRANCH_564,AGENT_CD_42,0 days,1 days,157,63
3,POLID_54,0001-01-01 00:00:00,Tagged as OK to issue,OK TO ISSUE,2010-12-14 00:00:00,2010-12-13 00:00:00,Inforce,TRAD_BASIC,Retirement,NUL,...,BANK,10,0,0,SERV_BRANCH_600,AGENT_CD_41,0 days,1 days,152,45
4,POLID_54,0001-01-01 00:00:00,Tagged as OK to issue,OK TO ISSUE,2010-12-14 00:00:00,2010-12-13 00:00:00,Inforce,TRAD_RIDER,Protection,NUL,...,BANK,10,0,0,SERV_BRANCH_600,AGENT_CD_41,0 days,1 days,152,45
5,POLID_54,0001-01-01 00:00:00,Tagged as OK to issue,OK TO ISSUE,2010-12-14 00:00:00,2010-12-13 00:00:00,Inforce,TRAD_RIDER,Protection,NUL,...,BANK,10,0,0,SERV_BRANCH_600,AGENT_CD_41,0 days,1 days,152,45
6,POLID_7270,0001-01-01 00:00:00,Issued Policy (UND),OK TO ISSUE,2013-04-09 00:00:00,2014-04-23 00:00:00,SURRENDERED,UL_BASIC,Investment,UL,...,0,0,0,0,SERV_BRANCH_596,AGENT_CD_66,0 days,0 days,170,72
7,POLID_9796,2013-09-30 00:00:00,Tagged as OK to issue,OK TO ISSUE,2013-11-05 00:00:00,2013-11-06 00:00:00,INFORCE,UL_BASIC,Investment,UL,...,"LAWYER, ATTORNEY",3,0,0,SERV_BRANCH_252,0,0 days,0 days,152,63
8,POLID_9803,2013-06-30 00:00:00,Tagged as OK to issue,OK TO ISSUE,2013-07-31 00:00:00,2013-08-01 00:00:00,INFORCE,UL_BASIC,Investment,UL,...,"LAWYER,ATTORNEY",3,0,0,SERV_BRANCH_252,AGENT_CD_9,0 days,0 days,152,63
9,POLID_8286,2011-09-30 00:00:00,Tagged as OK to issue,OK TO ISSUE,2011-09-27 00:00:00,2011-09-28 00:00:00,INFORCE,UL_BASIC,Investment,UL,...,BUSINESSMAN/ / BUSINESSWOMAN,2,0,0,SERV_BRANCH_314,AGENT_CD_92,3 days,0 days,165,50

In [76]:
df.tail(10)

,POLICY_REF_DUMMY,PROPOSAL_SUBMISSION_DATE,FIRST_UW_DEC,LAST_UW_DEC,ISSUE_DATE,ST_DATE,POL_ST,QRY,PRODUCT_CATEGORY,PROD_TYPE,...,OWNER_OCCUPATION_CLASS,CLASS_ORDER,AGENCY,CHANNEL,SERV_BRANCH_DUMMY,AGENT_CD_DUMMY,PROPOSAL_TO_ISSUE,ISSUE_TO_ST,HEIGHT_CM,WEIGHT_KG
20742,POLID_4044,2011-07-31 00:00:00,Tagged as OK to issue,OK TO ISSUE,2011-07-11 00:00:00,2011-07-06 00:00:00,Inforce,TRAD_RIDER,Protection,NUL,...,UNEMPLOYED,7,0,0,SERV_BRANCH_187,0,20 days,5 days,170,68
20743,POLID_2477,2011-07-31 00:00:00,Tagged as OK to issue,OK TO ISSUE,2011-07-15 00:00:00,2011-07-12 00:00:00,Inforce,TRAD_BASIC,Retirement,NUL,...,BANK,10,0,0,SERV_BRANCH_475,AGENT_CD_15,16 days,3 days,154,49
20744,POLID_2477,2011-07-31 00:00:00,Tagged as OK to issue,OK TO ISSUE,2011-07-15 00:00:00,2011-07-12 00:00:00,Inforce,TRAD_RIDER,Protection,NUL,...,BANK,10,0,0,SERV_BRANCH_475,AGENT_CD_15,16 days,3 days,154,49
20745,POLID_2477,2011-07-31 00:00:00,Tagged as OK to issue,OK TO ISSUE,2011-07-15 00:00:00,2011-07-12 00:00:00,Inforce,TRAD_RIDER,Protection,NUL,...,BANK,10,0,0,SERV_BRANCH_475,AGENT_CD_15,16 days,3 days,154,49
20746,POLID_2477,2011-07-31 00:00:00,Tagged as OK to issue,OK TO ISSUE,2011-07-15 00:00:00,2011-07-12 00:00:00,Inforce,TRAD_RIDER,Protection,NUL,...,BANK,10,0,0,SERV_BRANCH_475,AGENT_CD_15,16 days,3 days,154,49
20747,POLID_4082,2011-07-31 00:00:00,Tagged as OK to issue,OK TO ISSUE,2011-07-27 00:00:00,2011-07-21 00:00:00,Inforce,TRAD_BASIC,Retirement,NUL,...,BUSINESSMAN/ / BUSINESSWOMAN,2,0,0,SERV_BRANCH_510,AGENT_CD_64,4 days,6 days,105,20
20748,POLID_4082,2011-07-31 00:00:00,Tagged as OK to issue,OK TO ISSUE,2011-07-27 00:00:00,2011-07-21 00:00:00,Inforce,TRAD_RIDER,Protection,NUL,...,BUSINESSMAN/ / BUSINESSWOMAN,2,0,0,SERV_BRANCH_510,AGENT_CD_64,4 days,6 days,105,20
20749,POLID_4112,2011-08-31 00:00:00,Tagged as OK to issue,OK TO ISSUE,2011-08-10 00:00:00,2011-08-01 00:00:00,Inforce,TRAD_BASIC,Retirement,NUL,...,SALESPERSON,2,0,0,SERV_BRANCH_621,AGENT_CD_4,21 days,9 days,152,45
20750,POLID_4112,2011-08-31 00:00:00,Tagged as OK to issue,OK TO ISSUE,2011-08-10 00:00:00,2011-08-01 00:00:00,Inforce,TRAD_RIDER,Protection,NUL,...,SALESPERSON,2,0,0,SERV_BRANCH_621,AGENT_CD_4,21 days,9 days,152,45
20751,POLID_4112,2011-08-31 00:00:00,Tagged as OK to issue,OK TO ISSUE,2011-08-10 00:00:00,2011-08-01 00:00:00,Inforce,TRAD_RIDER,Protection,NUL,...,SALESPERSON,2,0,0,SERV_BRANCH_621,AGENT_CD_4,21 days,9 days,152,45

In [8]:
df.iloc[5]

POLICY_REF_DUMMY                         POLID_54
PROPOSAL_SUBMISSION_DATE                        0
FIRST_UW_DEC                Tagged as OK to issue
LAST_UW_DEC                           OK TO ISSUE
ISSUE_DATE                             12/14/2010
ST_DATE                                12/13/2010
POL_ST                                    Inforce
QRY                                    TRAD_RIDER
PRODUCT_CATEGORY                       Protection
PROD_TYPE                                     NUL
PRODUCT_CODE                                1,558
PRODUCT_NAME_L1                                 0
PRODUCT_NAME                 Living Benefit Rider
BASIC_COVER_TYPE                   LIVING BENEFIT
COVER_CODE                                  1,558
COVER_TYPE                                  Rider
COVER_CAT                                       0
INSURED_AMT                            100,000.00
PREMIUM                                         0
COVER_TERM                                      0
PAY_TERM                                        0
PAY_METHOD                                 Annual
PAY_MODE                               Cash/Check
PAY_AGE                                        19
COVER_AGE                                      19
INSURED_ID                           PART_ID_5553
BUYER_ID                              PART_ID_578
RELATIONSHIP                             DAUGHTER
RELATIONSHIP_BIN                         CHILDREN
ENTRY_AGE                                      19
GENDER                                          F
OCCUPATION                                STUDENT
OCCUPATION_CLASS                          STUDENT
SMOKER_STATUS                                   0
SMK_NO_CIG                                      0
HEIGHT                                     5,0,FI
WEIGHT                                      100 P
MEDICAL_FLAG                                    0
NATIONALITY_DUMMY                NATIONALITY_ID_1
REGION_DUMMY                            REGION_10
OWNER_AGE                                      50
OWNER_GENDER                                    F
OWNER_OCCUPATION                     BANK MANAGER
OWNER_OCCUPATION_CLASS                       BANK
CLASS_ORDER                                    10
AGENCY                                          0
CHANNEL                                         0
SERV_BRANCH_DUMMY                 SERV_BRANCH_600
AGENT_CD_DUMMY                        AGENT_CD_41
Name: 5, dtype: object

# CLEAN DATASET

## * There is a need to standardize all string and convert measurements into the same unit

In [66]:
df.fillna('0',inplace=True)

In [15]:
df.columns

Index(['POLICY_REF_DUMMY', 'PROPOSAL_SUBMISSION_DATE', 'FIRST_UW_DEC',
       'LAST_UW_DEC', 'ISSUE_DATE', 'ST_DATE', 'POL_ST', 'QRY',
       'PRODUCT_CATEGORY', 'PROD_TYPE', 'PRODUCT_CODE', 'PRODUCT_NAME_L1',
       'PRODUCT_NAME', 'BASIC_COVER_TYPE', 'COVER_CODE', 'COVER_TYPE',
       'COVER_CAT', 'INSURED_AMT', 'PREMIUM', 'COVER_TERM', 'PAY_TERM',
       'PAY_METHOD', 'PAY_MODE', 'PAY_AGE', 'COVER_AGE', 'INSURED_ID',
       'BUYER_ID', 'RELATIONSHIP', 'RELATIONSHIP_BIN', 'ENTRY_AGE', 'GENDER',
       'OCCUPATION', 'OCCUPATION_CLASS', 'SMOKER_STATUS', 'SMK_NO_CIG',
       'HEIGHT', 'WEIGHT', 'MEDICAL_FLAG', 'NATIONALITY_DUMMY', 'REGION_DUMMY',
       'OWNER_AGE', 'OWNER_GENDER', 'OWNER_OCCUPATION',
       'OWNER_OCCUPATION_CLASS', 'CLASS_ORDER', 'AGENCY', 'CHANNEL',
       'SERV_BRANCH_DUMMY', 'AGENT_CD_DUMMY'],
      dtype='object')

In [67]:
for i in ['PROPOSAL_SUBMISSION_DATE','ISSUE_DATE','ST_DATE']:
    df[i] = df[i].apply(lambda x: datetime.strptime(x, '%m/%d/%Y') if x !='0' else datetime.min)

In [68]:
df['PROPOSAL_TO_ISSUE'] = df['PROPOSAL_SUBMISSION_DATE'] - df['ISSUE_DATE']

In [69]:
df['ISSUE_TO_ST'] = df['ISSUE_DATE'] - df['ST_DATE']

In [93]:
for i in ['ISSUE_TO_ST','PROPOSAL_TO_ISSUE']:
    df[i] = df[i].apply(lambda x: dt.timedelta(0) if x < dt.timedelta(0) or x>dt.timedelta(1000) else x)

In [72]:
df['HEIGHT_CM'] = df['HEIGHT'].apply(lambda x: int(convert_height(x)) if x !='0' else x)

In [73]:
df['WEIGHT_KG'] = df['WEIGHT'].apply(lambda x: int(convert_weight(x)) if x !='0' else x)

In [78]:
df['POL_ST'] = df['POL_ST'].apply(lambda x: x.lower())

In [113]:
def find_person_id(id1,id2):
    if id2 == '0':
        return id1
    else:
        return id2

In [114]:
df['PERSON_ID'] = df.apply(lambda x: find_person_id(x['INSURED_ID'],x['BUYER_ID']),axis=1)

In [91]:
for i in ['INSURED_AMT','COVER_CODE','PRODUCT_CODE','PREMIUM']:
    df[i] = df[i].apply(lambda x: float(x.replace(',','')))

In [9]:
df_processed['ANP']=df_processed.apply(lambda x: x['PREMIUM']/10 if x['PAY_METHOD']=='Single Pay' else x['PREMIUM'],axis=1)

In [10]:
df = df_processed

In [94]:
df.describe()

,PRODUCT_CODE,COVER_CODE,INSURED_AMT,PREMIUM,PAY_TERM,PAY_AGE,COVER_AGE,ENTRY_AGE,OWNER_AGE,CLASS_ORDER,PROPOSAL_TO_ISSUE,ISSUE_TO_ST,HEIGHT_CM,WEIGHT_KG
count,20752.00000,20752.00000,2.075200e+04,2.075200e+04,20752.000000,20752.000000,20752.000000,20752.000000,20752.000000,20752.000000,20752,20752,20752.000000,20752.000000
mean,1974.49735,1974.49735,5.030884e+05,1.905721e+05,5.938657,35.492772,35.492772,30.918658,43.458365,2.841172,4 days 14:11:17.255204,7 days 23:55:08.558211,147.583317,50.987037
std,416.00211,416.00211,1.059495e+06,6.337166e+05,13.478252,22.805384,22.805384,18.898141,12.549504,2.377980,7 days 23:49:17.849006,14 days 11:55:39.818339,115.822525,22.846167
min,37.00000,37.00000,0.000000e+00,-5.000000e+05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0 days 00:00:00,0 days 00:00:00,0.000000,0.000000
25%,1562.00000,1562.00000,1.075278e+05,7.363900e+02,1.000000,16.000000,16.000000,13.000000,35.000000,2.000000,0 days 00:00:00,0 days 00:00:00,147.000000,40.000000
50%,2161.00000,2161.00000,2.475144e+05,2.578392e+04,1.000000,36.000000,36.000000,32.000000,43.000000,2.000000,0 days 00:00:00,5 days 00:00:00,157.000000,54.000000
75%,2198.00000,2198.00000,5.000000e+05,1.500000e+05,5.000000,52.000000,52.000000,46.000000,52.000000,3.000000,7 days 00:00:00,11 days 00:00:00,165.000000,65.000000
max,2414.00000,2414.00000,3.125000e+07,2.500000e+07,100.000000,109.000000,109.000000,75.000000,93.000000,10.000000,320 days 00:00:00,931 days 00:00:00,5608.000000,200.000000

In [95]:
df.columns

Index(['POLICY_REF_DUMMY', 'PROPOSAL_SUBMISSION_DATE', 'FIRST_UW_DEC',
       'LAST_UW_DEC', 'ISSUE_DATE', 'ST_DATE', 'POL_ST', 'QRY',
       'PRODUCT_CATEGORY', 'PROD_TYPE', 'PRODUCT_CODE', 'PRODUCT_NAME_L1',
       'PRODUCT_NAME', 'BASIC_COVER_TYPE', 'COVER_CODE', 'COVER_TYPE',
       'COVER_CAT', 'INSURED_AMT', 'PREMIUM', 'COVER_TERM', 'PAY_TERM',
       'PAY_METHOD', 'PAY_MODE', 'PAY_AGE', 'COVER_AGE', 'INSURED_ID',
       'BUYER_ID', 'RELATIONSHIP', 'RELATIONSHIP_BIN', 'ENTRY_AGE', 'GENDER',
       'OCCUPATION', 'OCCUPATION_CLASS', 'SMOKER_STATUS', 'SMK_NO_CIG',
       'HEIGHT', 'WEIGHT', 'MEDICAL_FLAG', 'NATIONALITY_DUMMY', 'REGION_DUMMY',
       'OWNER_AGE', 'OWNER_GENDER', 'OWNER_OCCUPATION',
       'OWNER_OCCUPATION_CLASS', 'CLASS_ORDER', 'AGENCY', 'CHANNEL',
       'SERV_BRANCH_DUMMY', 'AGENT_CD_DUMMY', 'PROPOSAL_TO_ISSUE',
       'ISSUE_TO_ST', 'HEIGHT_CM', 'WEIGHT_KG'],
      dtype='object')

In [11]:
df_processed = df[['INSURED_ID','BUYER_ID','PERSON_ID','PROD_TYPE','GENDER','MEDICAL_FLAG','COVER_TYPE',\
              'OWNER_GENDER','PAY_MODE','PRODUCT_CATEGORY','PAY_METHOD',\
              'LAST_UW_DEC','QRY','CLASS_ORDER','RELATIONSHIP_BIN','REGION_DUMMY',\
              'POL_ST','ENTRY_AGE','COVER_AGE','PAY_AGE','OWNER_AGE','PROPOSAL_SUBMISSION_DATE',\
              'PAY_TERM','COVER_TERM','PRODUCT_CODE','ISSUE_DATE','ST_DATE',\
              'INSURED_AMT','PREMIUM','PROPOSAL_TO_ISSUE',
              'ISSUE_TO_ST', 'HEIGHT_CM', 'WEIGHT_KG','ANP']]

In [12]:
df_processed.head()

,INSURED_ID,BUYER_ID,PERSON_ID,PROD_TYPE,GENDER,MEDICAL_FLAG,COVER_TYPE,OWNER_GENDER,PAY_MODE,PRODUCT_CATEGORY,...,PRODUCT_CODE,ISSUE_DATE,ST_DATE,INSURED_AMT,PREMIUM,PROPOSAL_TO_ISSUE,ISSUE_TO_ST,HEIGHT_CM,WEIGHT_KG,ANP
0,PART_ID_10751,0,PART_ID_10751,UL,F,0,Basic,F,Cash/Check,Investment,...,2161,2013-03-19 00:00:00,2014-04-23 00:00:00,125000.0,100000.0,0,0,154,52,10000.0
1,PART_ID_8104,0,PART_ID_8104,NUL,F,0,Basic,F,Cash/Check,Retirement,...,2198,2011-06-15 00:00:00,2011-06-08 00:00:00,500000.0,161515.0,15,7,157,54,161515.0
2,PART_ID_15437,0,PART_ID_15437,UL,F,0,Basic,F,Cash/Check,Investment,...,2163,2013-06-18 00:00:00,2013-06-17 00:00:00,562500.0,450000.0,0,1,157,63,45000.0
3,PART_ID_5553,PART_ID_578,PART_ID_578,NUL,F,0,Basic,F,Cash/Check,Retirement,...,2127,2010-12-14 00:00:00,2010-12-13 00:00:00,100000.0,26745.0,0,1,152,45,26745.0
4,PART_ID_5553,PART_ID_578,PART_ID_578,NUL,F,0,Rider,F,Cash/Check,Protection,...,1476,2010-12-14 00:00:00,2010-12-13 00:00:00,100000.0,443.0,0,1,152,45,443.0

In [13]:
df_processed.to_excel('../data/interim/data_cleaned.xlsx',index=None)

In [55]:
for i in ['PROD_TYPE', 'GENDER',
       'MEDICAL_FLAG', 'COVER_TYPE', 'OWNER_GENDER', 'PAY_MODE',
       'PRODUCT_CATEGORY', 'PAY_METHOD', 'LAST_UW_DEC', 'QRY', 'CLASS_ORDER',
       'RELATIONSHIP_BIN', 'REGION_DUMMY', 'POL_ST']:
    dummies = pd.get_dummies(df[i]).rename(columns=lambda x: i +'_' + str(x))
    cols = dummies.columns[1:]
    df = pd.concat([df, dummies[cols]], axis=1)
    df = df.drop([i], axis=1)

In [76]:
df_model = df[['INSURED_ID',
 'BUYER_ID',
 'PERSON_ID',
 'ENTRY_AGE',
 'COVER_AGE',
 'PAY_AGE',
 'OWNER_AGE',
 'PAY_TERM',
 'COVER_TERM',
 'PRODUCT_CODE',
 'PRODUCT_CATEGORY',
 'INSURED_AMT',
 'PREMIUM',
 'PROPOSAL_TO_ISSUE',
 'ISSUE_TO_ST',
 'ISSUE_DATE',
 'HEIGHT_CM',
 'WEIGHT_KG',
 'ANP',
 'PROD_TYPE_UL',
 'GENDER_M',
 'MEDICAL_FLAG_Y',
 'COVER_TYPE_Rider',
 'OWNER_GENDER_F',
 'OWNER_GENDER_M',
 'PAY_MODE_Cash/Check',
 'PAY_MODE_Credit Card Payment',
 'PAY_MODE_Others',
 'PAY_MODE_Salary Deduction',
 'PRODUCT_CATEGORY_Investment',
 'PRODUCT_CATEGORY_Protection',
 'PRODUCT_CATEGORY_Retirement',
 'PRODUCT_CATEGORY_Savings',
 'PAY_METHOD_Monthly',
 'PAY_METHOD_Quarterly',
 'PAY_METHOD_Semi-Annual',
 'PAY_METHOD_Single Pay',
 'LAST_UW_DEC_CANCELLED',
 'LAST_UW_DEC_DECLINED',
 'LAST_UW_DEC_OK TO ISSUE',
 'LAST_UW_DEC_POSTPONED',
 'QRY_APPS_RIDER',
 'QRY_TRAD_BASIC',
 'QRY_TRAD_RIDER',
 'QRY_UL_BASIC',
 'QRY_UL_RIDER',
 'CLASS_ORDER_1',
 'CLASS_ORDER_2',
 'CLASS_ORDER_3',
 'CLASS_ORDER_4',
 'CLASS_ORDER_5',
 'CLASS_ORDER_6',
 'CLASS_ORDER_7',
 'CLASS_ORDER_8',
 'CLASS_ORDER_9',
 'CLASS_ORDER_10',
 'RELATIONSHIP_BIN_EMPLOYER',
 'RELATIONSHIP_BIN_GRANDCHILDREN',
 'RELATIONSHIP_BIN_GRANDPARENTS',
 'RELATIONSHIP_BIN_MISSING',
 'RELATIONSHIP_BIN_OTHERS',
 'RELATIONSHIP_BIN_PARENTS',
 'RELATIONSHIP_BIN_RELATIVE',
 'RELATIONSHIP_BIN_SELF',
 'RELATIONSHIP_BIN_SIBLINGS',
 'RELATIONSHIP_BIN_SPOUSE',
 'REGION_DUMMY_REGION_1',
 'REGION_DUMMY_REGION_10',
 'REGION_DUMMY_REGION_11',
 'REGION_DUMMY_REGION_12',
 'REGION_DUMMY_REGION_13',
 'REGION_DUMMY_REGION_14',
 'REGION_DUMMY_REGION_15',
 'REGION_DUMMY_REGION_16',
 'REGION_DUMMY_REGION_17',
 'REGION_DUMMY_REGION_18',
 'REGION_DUMMY_REGION_19',
 'REGION_DUMMY_REGION_2',
 'REGION_DUMMY_REGION_20',
 'REGION_DUMMY_REGION_21',
 'REGION_DUMMY_REGION_22',
 'REGION_DUMMY_REGION_23',
 'REGION_DUMMY_REGION_3',
 'REGION_DUMMY_REGION_4',
 'REGION_DUMMY_REGION_5',
 'REGION_DUMMY_REGION_6',
 'REGION_DUMMY_REGION_7',
 'REGION_DUMMY_REGION_8',
 'POL_ST_cancelled',
 'POL_ST_claimed',
 'POL_ST_declined',
 'POL_ST_did not push through',
 'POL_ST_encoded complete',
 'POL_ST_encoded w/ reqt',
 'POL_ST_expired',
 'POL_ST_for issuance',
 'POL_ST_for underwriting',
 'POL_ST_inforce',
 'POL_ST_lapsed',
 'POL_ST_lapsed - apl',
 'POL_ST_lapsed - eti',
 'POL_ST_lapsed - rpu',
 'POL_ST_matured',
 'POL_ST_not taken up',
 'POL_ST_postponed',
 'POL_ST_surrendered',
 'POL_ST_surrendered - ecv',
 'POL_ST_surrendered - rpu',
 'POL_ST_with uw requirements']]

In [73]:
df_model.to_excel('../data/processed/data_model.xlsx',index=None)